*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
html, body{
	width:100%;
	height:100%;
}
body{
	background:#EEEEEE;
}
#main{
	width:100%;
}
#wrapper{
	display:block;
	margin:0 auto;
	width:95%;
	max-width:1000px;
	padding-top:250px;
	transition:all 0.2s ease;
}
#head_wrap{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:1240px;
}
#header_addon{
	width:100%;
	position:fixed;
	z-index:-1;
	height:400px;
	background:url('img/background.jpg') no-repeat center center;
	background-size:cover;
}
#logo{
	width:150px;
	float:left;
	transition:all 0.2s ease;
}
#gpl {
	height:100px;
	float: right;
	transition:all 0.2s ease;
}
.clear{
	clear: both;
}
#this_info{
	position:relative;
}
#this_info h1{
	font-weight:400;
	color:rgba(0,0,0,0.8);
	transform:translate(20px,0);
	margin-top:15px;
	font-size:28px;
	transition:all 0.2s ease;
}
#new h1{
	font-weight: normal;
    text-transform: uppercase;
	margin-top:15px;
	font-size: 14px;
	transition:all 0.2s ease;
	color: #212121;
	padding:0px 40px;
}
#new li{
	color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
	transition:all 0.2s ease;
	margin:0px 55px;
}
#about h1{
	font-weight:300;
	color: #333;
	margin-top:15px;
	font-size:18px;
	padding:0px 40px;
	transition:all 0.2s ease;
}
#this_info h2{
	font-weight:400;
	color:rgba(0,0,0,0.5);
	transform:translate(20px,0);
	font-size:15px;
	margin-top:4px;
	transition:all 0.2s ease;
}
#this_info #dlbuttons {
	position:absolute;
	bottom:15px;
	right:40px;
}
#this_info h3{
	margin-left: 8px;
	
	font-weight:400;
	border-radius:2px;
	color:white;
	font-size:15px;
	
	background:#8CC34B;
	padding:7px 20px;
	text-transform: uppercase;
	border:1px solid;
    border-color:#8CC34B;    
	transition:all 0.2s ease;
	transition:all 0.2s ease;
	
	text-align: right;
	float: right;
	width: auto;
}
#this_info h3:hover{
	color:#8CC34B;
	background:#fff;
}
.card{
	width:100%;
	background:#fff;
}
.section{
	width:calc(100% - 20px);
	padding:10px;
	
}
#images{
	height:250px;
	margin-top:30px;
	margin-bottom:30px;
	overflow-y:hidden;
	overflow-x:auto;
	white-space: nowrap;
}
.image{
	cursor:pointer;
	height:100%;
	margin-right:10px; 
}
hr{
	width:calc(100% - 20px);
	margin:5px auto;
	margin-top:15px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.image_zoom{
	position:fixed;
	width:100%;
	height:100%;
	z-index:4000;
	background:black;
	transform: translate(0%, 100%);
	transition:all 0.3s ease;
	display:none;
}
.image_zoom_info{
	position:absolute;
	z-index:4002;
	width:100%;
	height:100%;
	transition:all 0.3s ease;
	
}
.fa-angle-left{
	color:white;
	padding:30px;
	padding-left:30px;
	padding-top:15px;
	font-size:30px !important;
	
	cursor:pointer;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.image_zoom_img{
	max-width:100%;
	max-height:100%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
@media (max-width:700px){
	#about h1{
		padding: 0px 10px;
	}
	#logo{
		width:100px;
	}
	#gpl{
		height:60px;
	}
	#this_info h1{
		margin-top: 7px;
	}
}
@media (max-width:550px){
	#logo{
		width:70px;
		margin-bottom:40px;
	}
	#gpl{
		height:70px;
	}
	#this_info h1{
		font-size:18px;
		font-weight:500;
		margin-top:3px;
	}
	#this_info h2{
		font-size:15px;
		font-weight:400;
		margin-top:1px;
		color:rgba(0,0,0,0.7);
	}
	#this_info h3{
	bottom:0px;
	right:20px;
	}
	#wrapper{
		width:100%;
		padding-top: 150px;
	}
}
@media (max-width:430px){
	#gpl{
		height:0;
	}
}